@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Jost", sans-serif;
}
pre {
  font-family: monospace;
}
body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0.2rem;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(var(--accent), 0.3);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--accent));
  border: 0.1rem solid rgb(var(--accent));
  border-radius: 100%;
  width: 0.1rem;
}